<form [formGroup]="form" class="form-builder">


        <mat-form-field appearance="outline">
                <mat-label>Nome do Produto</mat-label>
                <input matInput  formControlName="nome" placeholder="Suco de caju">
                <mat-icon matSuffix>create</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Preço do produto</mat-label>
                <input matInput  formControlName="preco" placeholder="13,00">
                <mat-icon matSuffix>http</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Link da imagem </mat-label>
                <input matInput  formControlName="img" placeholder="Coloque um link da imagem!">
                <mat-icon matSuffix>add_photo_alternate</mat-icon>
        </mat-form-field>



        <div class="btn">
                <button mat-raised-button (click)="createCard()" >
                    Cadastrar novo produto
                </button>
            </div>

</form>
