.header {
  display: flex;
  align-items: center;
  background-color: rgb(228, 29, 29);
  height: auto;
}

.material-icons{
  color: white;
}

a{
  color: white;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  margin: 20px;
  height: 80px;
}

.header .title-group {
  padding-left: 20px;
}

.header .title-group i {
  padding-right: 6px;
}
