.sidenav {
  background-color:rgb(228, 29, 29);
  width: 200px;
  margin-top: 3.5rem;
}

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #fff;
}
